<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <link href="/icon.png" rel="Shortcut Icon">
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/index.css?v={{= _.version}}">
  <link rel="stylesheet" type="text/css" href="/css/app.css?v={{= _.version}}">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="icon" href="/icon.png">
  <meta name="viewport" content="width=device-width, height=device-height,user-scalable=no, initial-scale=1.0" />
</head>
<body>
<script>
  if (window.LOAD_FB) {
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '141365756382924',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  }
</script>
  <div id="app"></div>
  <div class="head" style="display:none">
  </div>
  <div class="scrollable">
  </div>
  <div class="tabbar-root {{if _.topBar}}tabbar-root-top{{/}}">
  </div>
  <div id="splash" class="center-content">
    <div class="signal"></div>
    <img class="splash-image" src="/icon.png" />
  </div>
  <div id="download" class="center-content" style="display:none;text-align:center;">
    不好意思，本网站不支持当前浏览器，请使用Google Chrome或者Safari浏览本网站
    <br><br>
    <a href="https://www.google.com/chrome/browser/desktop/"> Google Chrome官方下载网站 </a>
  </div>
  <script src="https://og6593g2z.qnssl.com/fundebug.0.0.4.min.js" apikey="b8a302b80bc69145ccdc86fd64e3e40185c27cf8b1f8845ea22e6b14f607f6ef"></script>
  <script>
    var __wxConfig__ = {{= _.config}}
    var __root__ = '{{= _.root}}'
    var __ip__ = '{{= _.ip}}'
    var __wx_sign_url__ = '<__wx_sign_url__>' 
    if (document.body.clientWidth > 600) {
      const s = document.getElementsByClassName('scrollable')[0];
      s.style.left = (document.body.clientWidth - 600) / 2 + 'px';
      s.style['border-left'] = '#eee solid 1px';
      s.style['border-right'] = '#eee solid 1px';
    }
    const ismobile=navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i)
    var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
    var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
    if (!ismobile && !isChrome && !isSafari) {
      document.getElementById('splash').style.display = 'none';
      document.getElementsByClassName('scrollable')[0].style.display = 'none';
      document.getElementById('download').style.display = 'block';
    }
  </script>
  <script src="/script/es6-shim.min.js"></script>
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="/script/build.js?v={{= _.version}}"></script>
  <img src="/icon.png" style="position:absolute;left:-1000px">
</body>
</html>
